AssignmentClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50011/AssignmentService1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50011/AssignmentService1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50011/AssignmentService1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAssignmentService1_PrimeNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:PrimeNumber" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService1_PrimeNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrimeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService1_Sum_InputMessage">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService1_Sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService1_ReverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseString" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService1_ReverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService1_PrintHTMLTag_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintHTMLTag" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService1_PrintHTMLTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintHTMLTagResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService1_Sort5Number_InputMessage">
    <wsdl:part name="parameters" element="tns:Sort5Number" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService1_Sort5Number_OutputMessage">
    <wsdl:part name="parameters" element="tns:Sort5NumberResponse" />
  </wsdl:message>
  <wsdl:portType name="IAssignmentService1">
    <wsdl:operation name="PrimeNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignmentService1/PrimeNumber" message="tns:IAssignmentService1_PrimeNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignmentService1/PrimeNumberResponse" message="tns:IAssignmentService1_PrimeNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignmentService1/Sum" message="tns:IAssignmentService1_Sum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignmentService1/SumResponse" message="tns:IAssignmentService1_Sum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignmentService1/ReverseString" message="tns:IAssignmentService1_ReverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignmentService1/ReverseStringResponse" message="tns:IAssignmentService1_ReverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintHTMLTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignmentService1/PrintHTMLTag" message="tns:IAssignmentService1_PrintHTMLTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignmentService1/PrintHTMLTagResponse" message="tns:IAssignmentService1_PrintHTMLTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sort5Number">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignmentService1/Sort5Number" message="tns:IAssignmentService1_Sort5Number_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignmentService1/Sort5NumberResponse" message="tns:IAssignmentService1_Sort5Number_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAssignmentService1" type="tns:IAssignmentService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PrimeNumber">
      <soap:operation soapAction="http://tempuri.org/IAssignmentService1/PrimeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/IAssignmentService1/Sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap:operation soapAction="http://tempuri.org/IAssignmentService1/ReverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintHTMLTag">
      <soap:operation soapAction="http://tempuri.org/IAssignmentService1/PrintHTMLTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sort5Number">
      <soap:operation soapAction="http://tempuri.org/IAssignmentService1/Sort5Number" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IAssignmentService1" binding="tns:BasicHttpBinding_IAssignmentService1">
      <soap:address location="http://localhost:50011/AssignmentService1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>